/.DS_Store
/.env
/.ipynb_checkpoints
/DATA_PT_EAST_APRIL_041524_MTTH
/DS_VIRT_CYBER_PT_03_2024_U_LOLC_MWTH
/DU_VIRT_FSF_FT_05_2024_U_LOLC_M_F
/FSF Syllabus - Class Schedule.csv
/GWU_VIRT_FSF_PT_11_2023_U_LOLC_MWTH
/KU_VIRT_FSF_PT_12_2023_U_LOLC_MWTH
/MSU_VIRT_FSF_PT_11_2023_U_LOLC_MTTH(A)
/Message Log.csv
/Monday_Pull_QUICK_Small_CSV.ipynb
/OSU_VIRT_AI_PT_02_2024_U_LOLC_MTTH
/OSU_VIRT_AI_PT_05_2024_U_LOLC_MWTH
/OSU_VIRT_CYBER_PT_03_2024_U_LOLC_MTTH
/OSU_VIRT_CYBER_PT_06_2024_U_LOLC_MWTH
/OSU_VIRT_CYBER_PT_12_2023_U_LOLC_MWTH(A)
/OSU_VIRT_DATA_PT_02_2024_U_LOLC_MWTH
/OSU_VIRT_DATA_PT_05_2024_U_LOLC_MTTH
/OSU_VIRT_FSF_PT_04_2024_U_LOLC_MWTH
/RICE_VIRT_CYBER_PT_02_2024_U_LOLC_MWTH
/RICE_VIRT_DMKT_PT_12_2023_U_LOLC_MWTH
/SMU_VIRT_AI_PT_02_2024_U_LOLC_MTTH
/SMU_VIRT_CYBER_PT_02_2024_U_LOLC_MWTH(A)
/SMU_VIRT_CYBER_PT_02_2024_U_LOLC_MWTH(B)
/SMU_VIRT_CYBER_PT_05_2024_U_LOLC_MTTH
/SMU_VIRT_DATA_PT_03_2024_U_LOLC_MTTH
/SMU_VIRT_DATA_PT_06_2024_U_LOLC_MWTH
/SMU_VIRT_DATA_PT_09_2023_U_LOLC_MTTH
/SMU_VIRT_DATA_PT_12_2023_U_LOLC_MWTH
/SMU_VIRT_FSF_PT_02_2024_U_LOLC_MTTH
/SMU_VIRT_FSF_PT_05_2024_U_LOLC_MWTH
/Summative_Report_CLEANED.ipynb
/UADEL_VIRT_CYBER_PT_11_2023_U_LOLC_MTTH
/UCB_VIRT_FSF_PT_10_2023_U_LOLC_MTTH(A)
/UCI_VIRT_CYBER_PT_12_2023_U_LOLC_MTTH
/UCI_VIRT_DATA_PT_03_2024_U_LOLC_MTTH
/UCI_VIRT_DATA_PT_12_2023_U_LOLC_MWTH
/UCI_VIRT_FSF_PT_03_2024_U_LOLC_MWTH
/UCI_VIRT_FSF_PT_06_2024_U_LOLC
/UCI_VIRT_FSF_PT_12_2023_U_LOLC_MTTH
/UCLA_VIRT_FSF_PT_08_2023_U_LOLC_MTTH
/UCLA_VIRT_FSF_PT_12_2023_U_LOLC_MTTH
/UCSD_VIRT_FSF_PT_09_2023_U_LOLC_MTTH(A)
/UK_VIRT_FE_PT_10_2023_U_LOLC_T_F(A)
/UK_VIRT_FE_PT_11_2023_U_LOLC_1_T_F(B)
/UK_VIRT_FE_PT_11_2023_U_LOLC_1_T_F(C)
/UNB_VIRT_FSF_PT_10_2023_U_LOLC_MTTH
/UNCC_VIRT_CYBER_PT_12_2023_U_LOLC_MTTH(A)
/UNCC_VIRT_DATA_PT_12_2023_U_LOLC_MWTH
/UNCC_VIRT_FSF_FT_03_2024_U_LOLC_M_F
/UNCC_VIRT_FSF_FT_12_2023_U_LOLC_M_F
/UNCC_VIRT_FSF_PT_01_2024_U_LOLC_MTTH
/UNC_VIRT_FSF_PT_11_2023_U_LOLC_MWTH
/UNH_VIRT_FSF_PT_09_2023_U_LOLC_MTTH
/UPENN_VIRT_CYBER_PT_03_2024_U_LOLC_MWTH
/UPENN_VIRT_CYBER_PT_11_2023_U_LOLC_MTTH
/UPENN_VIRT_DATA_PT_03_2024_U_LOLC_MWTH
/UPENN_VIRT_DATA_PT_09_2023_U_LOLC_MWTH
/UPENN_VIRT_DATA_PT_12_2023_U_LOLC_MTTH
/UPENN_VIRT_FSF_PT_09_2023_U_LOLC_MTTH
/UR_VIRT_CYBER_PT_02_2024_U_LOLC_MTTH
/UR_VIRT_FSF_PT_11_2023_U_LOLC_MTTH
/USYD_VIRT_CYBER_PT_02_2024_U_LOLC_MTTH
/USYD_VIRT_CYBER_PT_05_2024_U_LOLC_MTTH
/UTA_VIRT_CYBER_PT_12_2023_U_LOLC_MTTH
/UTA_VIRT_DATA_PT_03_2024_U_LOLC_MWTH(A)
/UTA_VIRT_DATA_PT_10_2023_U_LOLC_MWTH
/UTA_VIRT_DATA_PT_12_2023_U_LOLC_MTTH
/UTA_VIRT_FSF_FT_03_2024_U_LOLC_M_F
/UTA_VIRT_FSF_FT_12_2023_U_LOLC_M_F
/UTA_VIRT_FSF_PT_02_2024_U_LOLC_MTTH(A)
/UTA_VIRT_FSF_PT_10_2023_U_LOLC_MTTH(A)
/UTOR_VIRT_CYBER_PT_12_2023_U_LOLC_MWTH
/UTOR_VIRT_DATA_PT_02_2024_U_LOLC_MWTH
/UTOR_VIRT_FSF_PT_11_2023_U_LOLC_MTTH
/UofM_VIRT_CYBER_PT_03_2024_U_LOLC_MTTH(A)
/UofM_VIRT_CYBER_PT_06_2024_U_LOLC_ENTG_MWTH
/UofM_VIRT_CYBER_PT_06_2024_U_LOLC_MWTH(A)
/UofM_VIRT_DATA_PT_03_2024_U_LOLC_MTTH
/UofM_VIRT_DATA_PT_06_2024_U_LOLC_MWTH
/UofM_VIRT_DATA_PT_12_2023_U_LOLC_MWTH
/UofM_VIRT_DMKT_PT_04_2024_U_LOLC_MTTH
/UofM_VIRT_FSF_FT_03_2024_U_LOLC_M_F
/UofM_VIRT_FSF_PT_02_2024_U_LOLC_ENTG_MWTH
/UofM_VIRT_FSF_PT_02_2024_U_LOLC_MWTH
/UofM_VIRT_FSF_PT_04_2024_U_LOLC_MTTH
/UofM_VIRT_UXUI_PT_03_2024_U_LOLC_MWTH(A)
/UofU_VIRT_AI_PT_03_2024_U_LOLC_MTTH
/UofU_VIRT_CYBER_PT_03_2024_U_LOLC_MTTH
/UofU_VIRT_DATA_PT_02_2024_U_LOLC_MWTH
/UofW_VIRT_FSF_PT_02_2024_U_LOLC_MWTH
/Upcoming_Modules.py
/__pycache__
/class.vtt